<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/reloj.css')}}"
    />
    <script defer src="{{url_for('static', filename='js/script.js')}}"></script>
    <script
      defer
      src="{{url_for('static', filename='js/control_trash.js')}}"
    ></script>
    <script defer src="{{url_for('static', filename='js/reloj.js')}}"></script>
    <script
      defer
      src="{{url_for('static', filename='js/ctrl_bruja.js')}}"
    ></script>
    <script
      defer
      src="{{url_for('static', filename='js/ctrl_fear.js')}}"
    ></script>
    <title>Start</title>
  </head>
  <body>
    <div id="cuadro"></div>
    <div class="content_btn" id="program-buttons">
      <!-- Botones de programas se generarán dinámicamente aquí -->
    </div>
    <h2 id="reloj">00 : 00 : 00</h2>
    <div class="trash">
      <h1 class="trashbin">Trash</h1>
    </div>

    <!-- Formulario para editar nombres y guardar cambios 
    <div id="edit-program" style="display: none">
      <h3>Edit Program Name</h3>
      <input type="text" id="program-name" placeholder="Enter new name" />
      <button id="save-button">Save</button>
    </div>-->

    <script
      defer
      src="{{url_for('static', filename='js/programs.js')}}"
    ></script>
  </body>
</html>
